body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch; 
    /*90ch, 50rem, 45em*/

    margin-inline: auto;
    padding: 2ch;
    accent-color: var( --color-accent);
  }

  :root {
    --color-accent: oklch(45% 26% 264);
  }


  nav { /* for the container itself */
    display: flex;
    margin-bottom: 2ch;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
  }

  nav a.current { /* for the main page since main has "current" */
    border-bottom: 0.4em solid oklch(85% 4% 200);
    padding-bottom: 0.2em;
  }

  nav a { /* for all a in nav */
    display: flex;
    text-decoration: none;
    flex: 1;
    color: inherit;
    padding: 0.5em;
    justify-content: center;
  }

  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent); /* Accent color on hover */
    padding-bottom: 0.2em; /* Compensate for border height */
    background-color: oklch(from var(--color-accent) 95% 5% h)
}

/* form input,
form textarea,
form button {
    font: inherit;
    font-family: inherit;

    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-block: 7px;

} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid; /* Set label as a grid container */
  grid-template-columns: subgrid; /* Make label inherit the grid columns from the parent form */
  grid-column: 1; /* Place the label in the first column */
}

input, textarea {
  grid-column: 2; /* Place input fields in the second column */
}

button {
  grid-column: 1/-1;
  padding: 1px;
}

